body {
    background-color: aquamarine;
    color: black;
}

h3 {
    font-size: 40px; /* комментарий */
}

.red {
    color: red;
}

.block1 {
    width: 80%;
    margin: 0 auto;
    background-image: url(https://masterpiecer-images.s3.yandex.net/559c0b5f523111ee9efd429f31467427:upscaled);
    padding: 15px;
    border: 5px solid black;
    border-radius: 30px;
}

#h4id {
    color: pink;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: overline;
    color: green;
}

img {
    transform: scale(1);
    transition: 2s all;
}

img:hover {
    transform: scale(1.2);
}